@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #01020f;
  font-family: "Poppins", sans-serif;
}

.container {
  margin: 20px 40px;
  color: white;
}

.heading {
  font-size: 60px;
  color: white;
  text-align: center;
}

.heading span {
  font-style: italic;
  font-size: 30px;
}

.profiles {
  display: flex;
  justify-content: space-between;
  margin: 20px 80px;
}

.profile {
  flex-basis: 260px;
}

.profile .profile-img {
  height: 100px;
  width: 100px;
  border-radius: 10%;
  filter: grayscale(70%);
  cursor: pointer;
  transition: 400ms;
}

.profile:hover .profile-img {
  filter: grayscale(0);
}

.user-name {
  margin-top: 30px;
  font-size: 25px;
}

.profile h5 {
  font-size: 18px;
  font-weight: 100;
  letter-spacing: 3px;
  color: #ccc;
}

.profile p {
  font-size: 16px;
  margin-top: 20px;
  text-align: justify;
}

.setUp{
  flex: 1;
  width: 100%;
	float: left;
  margin: 20px;
} 

.runOnServer{
  width: 100%;
	float: right;
  flex: 1;
  margin: 20px;
}

.downloadFile{
  width: 100%;
	float: right;
  flex: 1;
  margin: 20px;
}

.info{
	color: white;
	padding: 10px;
	display: flex;
	align-items: stretch; 
	justify-content: space-between; 
	flex-wrap: wrap;
	flex-direction: row;
}

.info h2{
  padding: 10px;
}

.articles{
  padding-top: 10px;
  display: flex;
}

@media only screen and (max-width: 1150px) {
  .profiles, .articles {
    flex-direction: column;
  }

  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .profile p {
    text-align: center;
    margin: 20px 60px 80px 60px;
    font-size: 15px;
  }
}

@media only screen and (max-width: 900px) {
  .heading {
    font-size: 40px;
    color: white;
    text-align: center;
  }

  .heading span {
    font-size: 15px;
  }

  .profiles {
    margin: 20px 0;
  }

  .profile p {
    margin: 20px 10px 80px 10px;
  }
}
