body * {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #0c4271;
    text-align: left;
}

input[type="text"], input[type="submit"], button { 
    color:#0c4271; 
    font-family: 'Times New Roman', Times, serif;
    border:1px solid; 
    border-radius: 5px; 
    text-align: center;
    padding: 2%;
}


